.column1 {
	width: 20%;
}

.column2 {
	width: 60%;
}

.column3 {
	width: 20%;
	text-align: center;
}

.dismiss-button:hover{
	color: black;
	cursor: pointer;
}

.list-item {
	margin: 0px 15px;
}

.list-image {
	width: 50px;
}

.list-object {
	height: 100px;
	margin: 15px 0px;
	padding: 10px 0px;
}

.event-input {
	height: 100px;
	margin: 40px 0px;
	text-align: center;
}

.manage-event {
	width: 60%;
}

.input-cell {
	text-align: center;
}

.container {
	width: 95%;
	text-align: center;
}

.dashboard-manage-events {
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: #66CDAA;
	border-radius: 20px;
	border-width: 2px;
}

.dashboard-manage-events input:focus, .dashboard-manage-events button:hover{
	transition: background 0.5s ease-in-out;
	background-color: #66CDAA;
	border-color: white;
	color: white;
}

.dashboard-left{
	width: 25%;
	vertical-align: top;
	padding-right: 15px;
}

.dashboard-right {
	width: 75%;
	vertical-align: top;
}

.dashboard-manage-playlists {
	width: 100%;
	text-align: center;
	background-color: #81D8D0;
	border-radius: 20px;
	border-width: 2px;
}

.dashboard-manage-playlists input:focus, .dashboard-manage-playlists button:hover{
	transition: background 0.5s ease-in-out;
	background-color: #81D8D0;
	border-color: white;
	color: white;
}

.dashboard-manage-requests {
	text-align: center;
	width: 100%;
	background-color: #F08080;
	border-radius: 20px;
	border-width: 2px;
}

.dashboard-manage-requests input:focus, .dashboard-manage-requests button:hover{
	transition: background 0.5s ease-in-out;
	background-color: #F08080;
	border-color: white;
	color: white;
}

#event-id, #update-event-input{
	width: 100px;
	text-align: center
}

.request-display {
	padding-bottom: 20px;
}

.select-option {
	width: 180px;
	text-align: center
	height: 80px;
	border-radius: 20px;
	border-width: 2px;
	border-color: gray;
	border-style: solid;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	padding: 0px 10px;
	margin: 20px 0px;
	transition: background 0.5s ease-in-out;
}

.remove-item {
	visibility: hidden;
	height: 0px;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

tr {
	width: 50%;
	text-align: left;
}

button {
	width: 110px;
}

/* Tablet is 768px */
@media (min-width: 768px) {
	.list-image {
		width: 100px;
	}
	button {
		width: 180px;
	}
	#event-id, #update-event-input {
		width: 180px;
	}

}
/* Small desktop starts at 992px */
@media (min-width: 992px) {
	
}
/* Larger desktop starts around 1200px */
@media (min-width: 1200px) {
	
}