.list-item {
	top: 50%;
	bottom: 50%;
	margin: 0px 15px;
}

.list-object {
	height: 100px;
	margin: 15px 0px;
	border-left: 1px solid green;
	padding: 10px 0px;
}

.event-input {
	height: 100px;
	margin: 40px 0px;
	text-align: center
}

.container {
	width: 100%;
	text-align: center;
}

.dashboard_top {
	width: 50%;
	margin: auto;
	text-align: center;
}

.dashboard_left {
	/*border: 1px solid green;*/
	float: left;
	width: 49%;
	text-align: center;
	background-color: green;
}

.dashboard_right {
	text-align: center;
	float:right;
	width: 49%;
	background-color: red;
}

#event-id {
	width: 180px;
	text-align: center
}

.select-option {
	width: 180px;
	text-align: center
	height: 80px;
	border-radius: 20px;
	border-width: 2px;
	border-color: gray;
	border-style: solid;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	padding: 0px 10px;
	margin: 20px 0px;
	transition: background 0.5s ease-in-out;
}

button {
	width: 180px;
}