.column1 {
	width: 20%;
}

.column2 {
	width: 60%;
}

.column3 {
	width: 20%;
	text-align: center;
}

.dismiss-button:hover{
	color: black;
}

.list-item {
	margin: 0px 15px;
}

.list-image {
	width: 50px;
}

.list-object {
	height: 100px;
	margin: 15px 0px;
	padding: 10px 0px;
}

.event-input {
	height: 100px;
	margin: 40px 0px;
	text-align: center
}

.manage-event {
	width: 60%;
}

.input-cell {
	text-align: center;
}

.container {
	width: 100%;
	text-align: center;
}

.dashboard_top {
	width: 80%;
	margin: auto;
	text-align: center;
}

.dashboard_left {
	/*border: 1px solid green;*/
	float: left;
	width: 49%;
	text-align: center;
}

.dashboard_right {
	text-align: center;
	float:right;
	width: 49%;
}

#event-id {
	width: 180px;
	text-align: center
}

.select-option {
	width: 180px;
	text-align: center
	height: 80px;
	border-radius: 20px;
	border-width: 2px;
	border-color: gray;
	border-style: solid;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	padding: 0px 10px;
	margin: 20px 0px;
	transition: background 0.5s ease-in-out;
}

.remove-item {
	visibility: hidden;
	height: 0px;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

tr {
	width: 50%;
	text-align: left;
}

button {
	width: 180px;
}

/* Tablet is 768px */
@media (min-width: 768px) {
	.list-image {
		width: 100px;
	}
}
/* Small desktop starts at 992px */
@media (min-width: 992px) {
	
}
/* Larger desktop starts around 1200px */
@media (min-width: 1200px) {
	
}