h1 {
	text-align: center;
}

table {
	width: 100%;
}

.container {
	width: 75%;
}

.column1 {
	width: 20%;
}

.column2 {
	width: 60%;
}

.column3 {
	width: 20%;
}

#event-code {
	height: 50px; 
	width: 180px; 
	text-align: center;
}

#search-field {
	width: 70%;
	float: left;
}

#search-button {
	float: right;
	width: 80px;
	text-align: center;
}

.request {
	width: 100px;
}

.list-item {
	margin: 0px 15px;
}

.list-image {
	width: 50px;
}

.list-object {
	height: 100px;
	margin: 15px 0px;
	padding: 10px 0px;
}

.load-icon {
	width: 50px;
}

.event-input {
	height: 100px;
	margin: 40px 0px;
	text-align: center
}

.requested {
	transition: background 0.5s ease-in-out;
	background-color: black;
	border-color: green;
	color: white;
}

.code-submitted {
	transition: background 0.5s ease-in-out;
	background-color: black;
	border-color: white;
	color: white;
}

/* Tablet is 768px */
@media (min-width: 768px) {
	.list-image{
		width: 100px;
	}
	#search-field {
		width: 80%;
	}
}
/* Small desktop starts at 992px */
@media (min-width: 992px) {
	
}
/* Larger desktop starts around 1200px */
@media (min-width: 1200px) {
	
}