html {
	scroll-behavior: smooth;
}

h1 {
	padding-top: 60px;
}

.container {
	background: url("../img/home.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	padding: 0px 75px;
}

#about {
	background-color: white;
	color: black;
	display: inline-block;
	text-align: center;
}

#contact {
	text-align: center;
}

.about-left{
	float: left;
	width: 40%;
	padding-left: 60px;
	padding-right: 10px;
	text-align: left;
	line-height: 20px;
	/*background-color: #7cad64;*/
}

.about-right {
	float: right;
	width: 40%;
	padding-left: 10px;
	padding-right: 60px;
	text-align: left;
	line-height: 20px;
	/*background-color: #c3e0b8;*/
}

/* Tablet is 768px */
@media (min-width: 768px) {
	
}
/* Small desktop starts at 992px */
@media (min-width: 992px) {
	
}
/* Larger desktop starts around 1200px */
@media (min-width: 1200px) {
	
}