h1 {
	padding-top: 60px;
}

.container {
	background: url("../img/home.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	padding: 0px 75px;
}

#about {
	background-color: white;
	color: black;
	display: inline-block;
	text-align: center;
}

.about-left{
	float: left;
	width: 40%;
	padding-left: 30px;
	padding-right: 20px;
}

.about-right {
	float: right;
	width: 40%;
	padding-left: 20px;
	padding-right: 30px;

}