input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
}

button {
	width: 40%;
}

.container {
	width: 70%;
}

/* Tablet is 768px */
@media (min-width: 768px) {
	.container {
		width: 500px;
	}
}
